/* Footer */
footer {
    clear: both;
    margin-top: 2em;
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
    text-align: center;
}

/* from gradfolio */
.social-wrapper {
    text-align: center;
  }
  
.social-wrapper.social-button {
    display: inline-block;
    text-align: center;
}

