---
layout: default
permalink: /archive/
title: Archive
---
<p>
These are older posts from previous incarnations of my blog. Some of them I'm keeping because I'm still proud of the writing; some for sentimental reasons, to mark landmark events for Win-Vector,
and for <em>Practical Data Science with R</em>.
</p>

<div>
	{% for post in site.posts %}
	{% unless post.next %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
	{% if year != nyear %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% endif %}
	{% endunless %}
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
	{% endfor %}
</div>
