<footer>
  <div class="social-wrapper">
    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.url %}
          <a class="social-button" href="{{link.url}}" rel="me">
            <i class="{{ link.icon | default: 'fas fa-link fa-lg' }}" aria-hidden="true"></i>
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  
    <a class="social-button" href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}">
      <i class="fas fa-fw fa-rss-square fa-lg" aria-hidden="true"></i> 
    </a>    
  </div>

  <div class="copy">
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
  </span>
</footer>
