<hr />

<div class="footer-container">
	<p>&copy; {% year %} Nina B. Zumel</p>
	<div class="social_icons">
	    <a
			href="mailto:nzumel@mzlabs.com?subject=subject=Comment%20from%20Short%20Thoughts"
			aria-label="Email"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fas fa-fw fa-envelope"></i>
		</a>
		<a
			href="https://micro.blog/MultoGhost"
			aria-label="Micro.blog"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fab fa-fw fa-microblog"></i>
		</a>
		<a
			href="https://multoghost.wordpress.com/"
			aria-label="Multo (Ghost)"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fab fa-fw fa-wordpress"></i>
		</a>
		<a
			href="/feed.xml"
			aria-label="RSS"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa fa-fw fa-rss-square"></i>
		</a>

	</div>
</div>